.btn {
  &:hover {
    color: white;
    opacity: 0.8;
  }
}
.table-content {
  background-color: #e4e9ec;
  padding-bottom: 70px;
  .card-body {
    overflow: hidden;
    display: block;
    .btn {
      color: white;
      background-color: #7e939b;
      width: 50px;
      height: 50px;
      margin-bottom: 5px;
      font-size: 25px;
    }
    .viewicon {
      background-color: #00d3f9;
      margin-right: 5px;
    }
  }
  table {
    border-spacing: 0 15px;
    border-collapse: separate;
  }
  td {
    padding: 0.75em;
    vertical-align: middle;
    a {
      color: #00a8f9;
    }
    
  }
  
  
  tbody {
    tr {
      background-color: #e5fafe;
      color: #7e939b;
    }
    th {
      vertical-align: middle;
      color: #394a57;
    }
  }
  thead {
    color: #7e939b;
  }

  @media (max-width: 991px){
    .table{
      display: none;
    }
  }
  @media (min-width: 992px){
    .mobile-table{
      display: none;
    }
  } 

}
.table-block-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  font-size: 24px;
  color: #515153;
  margin-bottom: 20px;
  span {
    color: #4f4db8;
    font-weight: bold;
  }
  .btn {
    color: white;
    padding: 10px 38px;
    background-color: #7e939b;
    font-size: 19px;
    margin-left: 10px;
    border-radius: 6px;
    &:hover {
      opacity: 0.8;
    }
  }
  .btn-register {
    background-color: #00d3f9;
  }
  .popup-export{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    .popup-export-wrapper{
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      max-width: 900px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      .popup-export-close{
        font-size: 50px;
        cursor: pointer;
        position: absolute;
        z-index: 1;
        right: 5%;
        top: 10px;
  
        &:hover {
          opacity: 0.8;
        }
        i {
          color: #00D2F8;
        }
      }
      p{
        font-size: 20px;
        
      }
      button{
        margin: 20px 0;
        background-color: #4f4db8;
      }
    }
    .popup-export-title{
      max-width: 600px;
      text-align: center;
      margin: 20px 0;
    }
  }
}



.pagination-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  ul {
    list-style-type: none;
  }
  .pagination-arrows {
    margin: 0;
    padding: 0;
    a {
      color: white;
      background-color: #4f4db8;
      border-radius: 50% !important;
      width: 34px;
      height: 34px;
      display: flex;
      align-items: center;
      font-size: 25px;
    }
  }
}
.pagination {
  li {
    margin-right: 5px;
    a {
      color: #394a57 !important;
      border-radius: 50%;
      border: none;
      background-color: #e5fafe;
      &:hover {
        background-color: #e5fafe;
      }
    }
    span {
      border-radius: 50%;
      background-color: #00d3f9 !important;
      border: none;
    }
  }
  .separator {
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    span {
      letter-spacing: 4px;
      vertical-align: sub;
      background-color: transparent !important;
    }
  }
}
.mobile-table{
  
  .tab-subsection{
    background-color: #e5fafe;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    span{
      color: #00d3f9;
    }
  }
  .tab-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      margin-bottom: 0;
    }
  }
  .icons-mobile-table{
    font-size: 50px;
    .fa-plus-circle{
      color: #7e939b;
    }
    .fa-minus-circle{
      color: #00d3f9;
      display: none;
    }
  }
  .tab-contents{
    display: none;
  }
 
}

