.form-content {
  background-color: #E4E9EC;
}

.title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 66px;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-content span {
  display: block;
  width: 66px;
  height: 66px;
  background-image: url(/img/survey.svg);
}

.title-content h2 {
  color: #3f3060;
  background-size: auto 2em;
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 2em;
  line-height: 2em;
  padding-left: 1em;
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  font-weight: 800;
}

.button-form-block {
  margin-top: 20px;
  width: 100%;
}

.button-form-block .select2 {
  width: 100% !important;
}

.btn-form {
  background-color: #7e939b;
  color: #fff;
  font-size: 19px;
  padding: 8px 25px;
}

.btn-form i {
  margin-left: 10px;
  font-size: 20px;
}

.btn-search, .btn-reset {
  padding: 12px 30px !important;
}

.btn-form[aria-expanded="true"] .fas {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: ease-out 0.1s;
  transition: ease-out 0.1s;
}

.buttons-form {
  margin-left: 10px;
}

.select-with-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-select {
  margin-top: 20px;
  padding: 0;
}

.custom-radio {
  margin-right: 30px;
}

.buttons-submit {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttons-submit button {
  margin-right: 50px;
}

.button-form-block .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #303f47;
}

.button-form-block .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #303f47;
}

.button-form-block input {
  border: 1px solid #F0F5F7;
  background-color: #F0F5F7;
}

.button-form-block .custom-checkbox {
  margin-right: 20px;
}

.button-form-block .btn {
  background-color: #7E939B;
}

.button-form-block .btn i {
  font-size: 15px;
  color: #fff;
}

.button-form-block .collection-add-date {
  background-color: #fff;
  padding: 0;
}

.button-form-block .collection-add-date i {
  color: #515153;
  font-size: 30px;
}

.button-form-block .buttons-submit a {
  background-color: #7e939b;
  color: #fff;
}

.button-form-block .buttons-submit .btn {
  padding: 7px 35px;
}

.button-form-block .buttons-submit button {
  color: #fff;
  background-color: #4F4DB8;
}
